<div id="song-info">
    <div>
        <div class="jacket">
            <img src="../../assets/album-art.png">
        </div>
        <div class="below-jacket">
            <div class="bsr">69420</div>
        </div>
    </div>
    <div>
        <div> 
            <div>
                <span class="title">title </span> 
                &nbsp;&nbsp;&nbsp;
                <span class="subtitle">(sub)</span>
            </div>
            <div>
                <span class="artist">artist here</span>
            </div>
        </div>
        <div class="duration-bar">
            <!-- implement bar on the .ts file yeaaaaaaaaah -->
        </div>
    </div>
</div>